.card-container {

    display: grid;
    height: 300px;
    margin: 10px;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.card {
    display: flex;
    flex-direction: column;
    padding: 10px;
    height: fit-content;
    align-items: center;
    justify-content: center;
    background-color: var(--secondary-bg);
    border-radius: 15px;
}

#card-icon svg {
    font-size: 30px;
    margin-right: 10px;
}

#card-icon {
    display: flex;
    color: var(--accent);
    justify-content: center;
    align-items: center;
    margin: auto;
}

#card-icon span {
    font-size: 1.5rem;
}

#card-description{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    font-size: 1.0rem;
    text-align: center;
}


@media(min-width: 750px) and (max-width: 1500px) {


    .card-container{
        grid-template-columns: repeat(3, 1fr);
        height: fit-content;
    }

    .card{
        height: 150px;
    }

    #card-description{
        font-size: 1.0rem;
    }
}


@media(min-width: 300px) and (max-width: 1000px) {


    .card-container{
        grid-template-columns: repeat(1, 1fr);
        height: fit-content;
    }

    #card-description{
        height: fit-content;
        padding: 10px;
    }

        #card-description{
        font-size: 1.1rem;
    }
}
