@import url('https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&family=Quicksand:wght@300..700&display=swap');

.sidebar-container {
    display: flex;
    flex-direction: row;
}

.sidebar {
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 250px;
    height: 100vh;
    margin-top: 70px;
    background-color: var(--primary-bg);
    border: 1px solid var(--border-color);
    border-bottom: none;
    border-top: none;
    
}

.sidebar-controls {

    width: 100%;
    height: 80px;
    display: flex;
    margin: 0 auto;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    font-size: 1.0rem;
}

.sidebar-boards {
    display: flex;
    flex-direction: column;
    width: 90%;
    margin: 0 auto;
}

.sidebar-board {
    display: flex;
    flex-direction: column;
    padding-top: 10px;
    margin: 10px;
    height: fit-content;
    border-radius: 8px;
    background-color: var(--secondary-bg);
    border: 1px solid var(--border-color);
}

.sidebar-board:hover {
    border-color: var(--accent);
    cursor: pointer;

}

.sidebar-board-title {
    font-size: 1.3rem;
    padding-left: 10px;
    color: var(--accent);
}

.sidebar-board-description {
    font-size: 1.0rem;
    padding-left: 10px;
}

.sidebar-board-creation-date {
    font-size: 1.0rem;
    padding: 10px;
}

.sidebar-title {
    display: flex;
    flex-direction: row;
    width: 80%;
    margin: 0 auto;
    align-items: center;
    font-size: 1.3rem;
}

.sidebar-desc {
    display: flex;
    flex-direction: row;
    width: 80%;
    margin: 0 auto;
    align-items: center;
    font-size: 1.0rem;
    padding-top: 5px;
    padding-bottom: 5px;
}

.collapse-button {
    display: flex;
    font-size: 24px;
    background-color: transparent;
    height: fit-content;
    width: fit-content;
    color: var(--accent);
    margin-left: 10px;
}