@import url('https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&display=swap');

html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  background-color: #1C1C1C;
}

#root {
  color: whitesmoke;
  min-height: 100%;
  min-width: 100%;
  display: flex;
  font-family: 'Figtree', sans-serif;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

.navigation {

  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-color: #292929;
  height: 50px;
}

.nav-logo {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  margin: 10px;
}

.nav-logo span {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  width: fit-content;
  padding: 10px;
  text-align: center;
  font-size: 1.3rem;
}

.gradient {
  background: linear-gradient(120deg, #7e5bef 10%, #ff4e50 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

#button-text {
  font-family: 'Figtree', sans-serif;
  font-size: 1.0rem;
  font-weight: 500;
}

.nav-logo span svg {
  margin-left: 10px;
  color: #ff4e50;
  align-items: center;
  justify-content: center;
}

.footer {

  display: flex;
  position: fixed;
  bottom: 0;
  left: 0;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: fit-content;
  margin: 0 auto;
  font-size: 16px;
}

.footer-item {
  display: inline-flex;
  vertical-align: middle;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

.social {
  display: inline-flex;
  vertical-align: middle;
  margin: 10px;
  font-size: 1.4rem;
}

.social:hover {
  cursor: pointer;
  color: #ff4e50;
  transition: color 0.3s ease-in-out;
}

.main {

  flex: 1;
  flex-direction: column;
  border-radius: 8px;
  padding: 80px 30px 100px;
  align-items: center;
  justify-content: center;
  margin: 10px;
  box-sizing: border-box;
  width: 100%;
  max-width: 100%;
  overflow: hidden;
}

.column-scroll-container {
  white-space: nowrap;
  overflow-x: auto;
  overflow-y: hidden;
  width: 100%;
  height: 100%;
}

.column-container {

  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: row;
  width: 100%;
  height: 100%;
  overflow-x: auto;

}

.controls {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: fit-content;
  justify-content: space-around;
  align-items: center;
  padding: 10px;
  background-color: #292929;
  border: #292929 3px solid;
  border-radius: 8px;
}

.board-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: 100%;
}

.taskbar {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  ;
  align-items: center;
  width: 100%;
  height: fit-content;
}

.column {

  display: flex;
  flex-direction: column;
  width: 250px;
  height: fit-content;
  background-color: #292929;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.05);
  border-radius: 8px;
  margin-top: 10px;
  margin-right: 10px;
  box-sizing: none;
}

.column-name {
  display: inline-flex;
  justify-content: space-between;
  width: 200px;
  margin-left: 10px;
  margin-right: 20px;
  font-size: 16px;
  font-weight: 400;
  align-items: center;
}

.column-title {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
}


.icons {
  display: inline-flex;
  height: 100%;
  width: fit-content;
  font-size: 20px;
  padding-top: 5px;
  padding-left: 10px;
  align-items: flex-end;
  justify-content: center;
  color: #ff4e50;
  cursor: pointer;
}

.icon-container {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 8px;
  border-radius: 8px;
  background: #292929;
  cursor: pointer;
}

.icon-container:hover,
#icon:hover {
  color: #fff;
}

.Task {

  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: flex-start;
  width: 100%;
  height: fit-content;
  padding-left: 10px;
  padding-right: 15px;
  font-size: 16px;
  font-weight: 400;
  margin-top: 5px;
  border-radius: 8px;
}

.task-text {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  width: fit-content;
}

.task-input {
  width: 100%;
  min-height: 40px !important;
  justify-content: center;
  align-items: center;
  padding: 10px 10px;
  background-color: transparent;
  border: none;
  color: white;
  font-size: 0.9rem;
  font-weight: 400;
  line-height: normal;
  font-family: 'Figtree', sans-serif;
  resize: none;
  overflow: hidden;
  white-space: normal;
  overflow-wrap: break-word;
  word-break: break-word;
}

.task-input:focus {
  outline: none;
}

.title {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  font-size: 1.2rem;
  margin-left: 10px;
}

.board-title,
.board-description {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  height: 40px;
  width: 100%;
}

.board-description {
  font-size: 1.0rem;
  color: rgb(187, 187, 187);
}

.add-task {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: 0 auto;
  height: fit-content;
}

.add-column {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: fit-content;
  margin: 10px;
  height: 40px;
  border-radius: 8px;
  background-color: #292929;
}

.add-column button {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  margin: 10px;
  background: none;
}

.add-column button:hover,
#icon,
.edit-button {
  color: #ff4e50;
  transition: 0.3s ease-in-out;
  background-color: transparent;
}

.Drag {
  cursor: grab;
}

@media (min-width: 300px) and (max-width: 750px) {

  html,
  body {
    width: 100%;
    height: 100%;
  }

  .main {
    width: 100%;
    height: fit-content;
  }

  .column-container {
    margin: 0 auto;
    width: 100%;
  }

  .column {
    width: 70%;
    margin: 10px auto;
  }

  .controls {

    width: 80%;
    flex-direction: row;
    align-items: center;
  }

}