@import url('https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&display=swap');

html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  background-color: #1C1C1C;
  overflow-x: hidden;
  overflow-y: auto;
}

#root {
  color: whitesmoke;
  min-height: 100%;
  min-width: 100%;
  font-family: 'Figtree', sans-serif;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

.navigation {

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 80px;
}

.nav-logo {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  margin: 10px;
}

.nav-logo span {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  width: fit-content;
  padding: 10px;
  text-align: center;
  font-size: 1.3rem;
}

#gradient {
  background: linear-gradient(120deg, #ff4e50, #ff6ec4);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

#button-text {
  font-family: 'Figtree', sans-serif;
  font-size: 1.0rem;
  font-weight: 500;
}

.nav-logo span svg {
  margin-left: 10px;
  color: #ff4e50;
  align-items: center;
  justify-content: center;
}

.footer {

  display: flex;
  position: fixed;
  bottom: 0;
  left: 0;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: fit-content;
  margin: 0 auto;
  font-size: 16px;
}

.footer-item {
  display: inline-flex;
  vertical-align: middle;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

.social {
  display: inline-flex;
  vertical-align: middle;
  margin: 10px;
  font-size: 1.4rem;
}

.social:hover {
  cursor: pointer;
  color: #ff4e50;
  transition: color 0.3s ease-in-out;
}

.main {

  display: flex;
  flex-direction: column;
  height: calc(100vh);
  width: 100%
}

.column-scroll-container {
  white-space: nowrap;
  overflow-x: auto;
  overflow-y: hidden;
  width: 100%;
  height: 100%;
}

.column-container {

  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: row;
  width: 100%;
  height: 100%;
  overflow-x: auto;

}

.board-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: 100%;
}

.Board-name {
  display: flex;
  
}



.taskbar {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  width: 80%;
  margin: 10px;
  min-height: 150px;
}

.intro {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 50%;
  margin: 0 auto;
}

.App-title,
.App-desc {
  display: flex;
  justify-content: center;
  padding: 5px;

}

.App-title {
  font-size: 1.3rem;
}

.column {

  display: flex;
  flex-direction: column;
  width: 250px;
  height: fit-content;
  background-color: #292929;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.05);
  border-radius: 8px;
  margin-top: 10px;
  margin-right: 10px;
  box-sizing: none;
}

.column-name {
  display: inline-flex;
  justify-content: space-between;
  width: 130px;
  margin-left: 5px;
  margin-right: 20px;
  padding-top: 5px;
  font-size: 16px;
  font-weight: 500;
  align-items: center;
  background: none;
  border: none;
  font-family: 'Figtree', sans-serif;
}

.column-name:hover {
  cursor: pointer;
}

.column-title {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
}

.icons {
  display: inline-flex;
  height: 100%;
  width: fit-content;
  font-size: 20px;
  padding-top: 5px;
  padding-left: 10px;
  align-items: flex-end;
  justify-content: center;
  color: #ff4e50;
  cursor: pointer;
}

.icon-container {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 8px;
  border-radius: 8px;
  background: #292929;
  cursor: pointer;
}

.icon-container:hover,
#icon:hover {
  color: #fff;
}

.Task {

  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: flex-start;
  width: 100%;
  height: fit-content;
  padding-left: 10px;
  padding-right: 15px;
  font-size: 16px;
  font-weight: 400;
  border-radius: 8px;

}

.task-text {
  display: flex;
  justify-content: center;
  max-height: 150px;
  white-space: nowrap;
  overflow-y: auto;
  overflow-x: hidden;

  align-items: flex-start;
  width: fit-content;
}

.task-input {
  width: 100%;
  min-height: 40px !important;
  justify-content: center;
  align-items: center;
  padding: 10px 10px;
  background-color: transparent;
  border: none;
  color: white;
  font-size: 0.9rem;
  font-weight: 400;
  line-height: normal;
  font-family: 'Figtree', sans-serif;
  resize: none;
  overflow: hidden;
  white-space: normal;
  overflow-wrap: break-word;
  word-break: break-word;
}

.task-input:focus {
  outline: none;
}

.title {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  font-size: 1.2rem;
  margin-left: 10px;
}

.board-grid {

  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(repeat, 1fr);
  grid-column-gap: 10px;
  grid-row-gap: 10px;
  width: 80%;
  height: fit-content;
  margin: 0 auto;
}

.board-tile {
  display: flex;
  flex-direction: column;
  margin: 10px;
  height: 250px;
  width: 250px;
  background-color: #292929;
  padding: 10px;
  border-radius: 15px;
  font-size: 1.0rem;
  font-weight: 400;
  border: 2px solid transparent;
}

.board-tile:hover {
  cursor: pointer;
  border: 2px solid #ff4e50;
  transition: 0.3s ease-in;
}

.board-title,
.board-description {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  height: 40px;
  width: 100%;
}

.board-description {
  font-size: 1.0rem;
  color: rgb(187, 187, 187);
}

.add-task {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: 0 auto;
  height: fit-content;
}

.add-column {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: fit-content;
  margin: 10px;
  height: 40px;
  border-radius: 8px;
  background-color: #292929;
}

.add-column button {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  margin: 10px;
  background: none;
}

.add-column button:hover,
#icon,
.edit-button {
  color: #ff4e50;
  transition: 0.3s ease-in-out;
  background-color: transparent;
}

.Drag {
  cursor: grab;
}

@media (min-width: 300px) and (max-width: 750px) {

  html,
  body {
    width: 100%;
    height: 100%;
  }


  .main {
    width: 100%;
    height: 100%;
  }

  .column-container {
    margin: 0 auto;
    flex-direction: column;
    width: 100%;
  }

  .column {
    width: 80%;
    margin: 10px auto;
  }

  .controls {

    width: 100%;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
  }

}