@import url('https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&family=Quicksand:wght@300..700&display=swap');

html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(17, 16, 16);
  overflow-x: hidden;
  overflow-y: auto;
}

#root {
  color: whitesmoke;
  min-height: 100%;
  min-width: 100%;
  font-family: 'Figtree', sans-serif;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}


.navigation-container {

  display: flex;
  z-index: 9;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100vw;
  height: 60px;
  position: fixed;
  font-family: 'Quicksand', sans-serif;
  font-weight: 500;
  background: linear-gradient(90deg, #ff4e50, #ff6ec4);
  color: #f5f5f5;

}

.navigation {

  display: flex;
  flex-direction: row;
  width: 80%;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;

}

.nav-hamburger {
  display: none;
}

.nav-buttons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.theme-button .Dropdown-control {
  display: flex;
  background-color: transparent !important;
  border: none;
  min-width: 150px;
  justify-content: center;
  align-items: center;
}

.theme-button .Dropdown-placeholder,
.theme-button .Dropdown-option {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  color: whitesmoke !important;
}

.theme-button .Dropdown-menu {

  background-color: rgb(17, 16, 16) !important;
  border: none !important;
}

.theme-button .Dropdown-optons {
  background-color: #ff4e50 !important;
}


.back-button {
  padding-left: 10px;
}

.theme-button,
.back-button {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 45px;
  margin: 10px;
  font-size: 1.0rem;
  border-radius: 8px;
  background-color: rgb(17, 16, 16);
}

.theme-button:hover,
.back-button:hover {

  color: #ff4e50;
  transition: 0.3s ease-in;
  cursor: pointer;
  background-color: rgb(17, 16, 16);
}

.nav-logo {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  margin: 10px;
  margin-left: 20px;
  background-color: rgb(17, 16, 16);
  color: #f5f5f5;
  border-radius: 8px;
  height: fit-content;
}

.nav-logo span {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  width: fit-content;
  height: fit-content;
  padding: 10px 20px;
  text-align: center;
  font-size: 1.0rem;
}

#gradient {
  background: linear-gradient(120deg, #ff4e50, #ff6ec4);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

#button-text {
  font-family: 'Figtree', sans-serif;
  font-size: 1.0rem;
  font-weight: 500;
  width: 100%;
}

.nav-logo span svg {
  color: #ff4e50;
  align-items: center;
  justify-content: center;
}

.footer {

  display: flex;
  position: fixed;
  bottom: 0;
  left: 0;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: fit-content;
  margin: 0 auto;
  font-size: 16px;
}

.footer-item {
  display: inline-flex;
  vertical-align: middle;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

.social {
  display: inline-flex;
  vertical-align: middle;
  margin: 10px;
  font-size: 1.4rem;
}

.social:hover {
  cursor: pointer;
  color: #ff4e50;
  transition: color 0.3s ease-in-out;
}

.main {
  display: flex;
  flex-direction: column;
  height: calc(100vh);
  max-height: fit-content;
  width: 100%;
  margin-top: 100px;

}

.kanban-board {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 80%;
  max-width: 100vw;
  margin-top: 150px;
  overflow-x: hidden;
  overflow-y: visible;
}

.main,
.kanban-board {
  min-height: 80vh;
  box-sizing: border-box;
}

.board-title-input:focus,
.board-description-input:focus {
  outline: none;
}

.controls {

  width: 90%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  min-height: 100px;
  border-radius: 12px;
  margin: 0 auto;
  margin-bottom: 20px;
  background-color: rgb(17, 16, 16);
  border: 2px solid #292929;
}

.column-scroll-container {
  white-space: nowrap;
  overflow-y: auto;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  width: 90%;
  border-radius: 8px;
  height: 90%;
}

.column-container {

  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: row;
  width: 100%;
  min-height: 65vh;
  overflow: visible;
  margin: 0 auto;
}

.grid-board {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  width: 80%;
  height: fit-content;
  padding: 10px;
}

.board-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: 100%;
}

.board-info {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  margin-top: 5px;
  height: fit-content;
}

.board-name {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  font-family: 'Quicksand', sans-serif;
  font-weight: 700;
  font-size: 1.2rem;
  color: #ff4e50;

}

.board-title-input:hover,
.board-description-input:hover {
  cursor: pointer;
}

.board-top,
.board-bottom {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
}

.add-board,
.board-search,
.board-filter {
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-color: #d85456;
  width: fit-content;
  height: 40px;
  align-items: center;
  padding: 10px 20px;
  color: whitesmoke;
}

.board-search-input,
.board-search,
.board-filter,
.add-board {

  font-family: 'Figtree', sans-serif;
  font-weight: 500;
  font-size: 1.0rem;
  border: none;
  border-radius: 8px;
}

.board-search-input {
  border: none;
  display: flex;
  height: fit-content;
  width: 100%;
  padding: 10px;
  background-color: transparent;
  color: whitesmoke;
}

.board-search,
.board-filter {
  margin-left: 20px;
}

.add-board:hover,
.board-search-input:hover,
.board-filter:hover,
.board-search-input:focus,
#button-text:focus,
.tooltip-icons:focus,
#delete-board:focus,
.column-name:focus {
  cursor: pointer;
  outline: none;
}

.board-search-input::placeholder {
  color: whitesmoke;
}

.taskbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 80%;
  height: 250px;
  margin: 0 auto;
}

.intro {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: 90%;
  margin: 20px;
}

.App-title,
.App-desc {
  display: flex;
  justify-content: center;
  padding: 5px;
  margin-bottom: 10px;
  font-family: 'Quicksand', sans-serif;
  font-weight: 500;
}

.App-desc-action {
  display: flex;
  font-family: 'Quicksand', sans-serif;
  padding-left: 5px;
  font-size: 1.1rem;
  font-weight: 600;
  color: #ff4e50;
}

.App-title {
  font-size: 1.6rem;
  font-family: 'Quicksand', sans-serif;
  font-weight: 700;
}

.column {

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  min-width: 250px;
  max-width: 300px;
  height: fit-content;
  border-radius: 8px;
  margin-right: 10px;
  background-color: rgb(17, 16, 16);
  border: #292929 2px solid;
}

.column-name {
  display: inline-flex;
  justify-content: space-between;
  width: 100%;
  margin-left: 5px;
  margin-right: 20px;
  font-size: 16px;
  font-weight: 500;
  align-items: center;
  background: none;
  border: none;
  color: whitesmoke;
  font-family: 'Quicksand', sans-serif;
  font-weight: 500;
}

.column-name:hover {
  cursor: pointer;
}

.column-title {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
}

.icons {
  display: inline-flex;
  height: 100%;
  width: fit-content;
  font-size: 20px;
  padding-top: 5px;
  padding-left: 10px;
  align-items: flex-end;
  justify-content: center;
  color: #ff4e50;
  cursor: pointer;
}

.tooltip {
  display: flex;
  width: fit-content;
  justify-content: flex-start;
  align-items: flex-start;
  border-radius: 8px;
}

.tooltip-icons {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  font-size: 1.2rem;
  background-color: transparent;
  margin: 5px;
}

.tooltip-icons:hover {
  cursor: pointer;
  color: #ff4e50;

}

.tooltip-text {
  display: flex;
  font-size: 1.0rem;
  padding-left: 5px;
  font-family: 'Figtree', sans-serif;
}


.icon-container {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 8px;
  border-radius: 8px;
  cursor: pointer;
}

.icon-container:hover,
#icon:hover {
  color: #fff;
}

#drag-icon {
  cursor: grab;

}

#drag-icon:active {
  cursor: grabbing;
}

.Task {

  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: flex-start;
  width: 100%;
  height: fit-content;
  padding-right: 15px;
  border-radius: 8px;
}

.task-text {
  display: flex;
  justify-content: center;
  max-height: 250px;
  white-space: nowrap;
  overflow-y: auto;
  overflow-x: hidden;
  align-items: flex-start;
  width: fit-content;
}

.task-input {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  border: none;
  color: whitesmoke;
  font-size: 1.0rem;
  font-weight: 350;
  line-height: normal;
  font-family: 'Figtree', sans-serif;
  resize: none;
  overflow: hidden;
  white-space: normal;
  overflow-wrap: break-word;
  word-break: break-word;
}

.task-input:focus {
  outline: none;
}

.title {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  font-size: 1.2rem;
  width: 100%;
  color: #ff4e50;
}

.board-id {
  display: flex;
  font-size: 1.0rem;
  align-items: flex-end;
  justify-content: center;
  margin: 10px;
  color: whitesmoke;
  width: fit-content;
}

.grid {

  column-count: 4;
  column-gap: 15px;
  width: 100%;
  height: fit-content;
  margin: 0 auto;
}

.grid-controls {
  display: flex;
  width: 100%;
  height: fit-content;
  justify-content: flex-start;
  align-items: center;
  padding-bottom: 20px;
}

.board-tile {
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
  perspective: 1000px;
  -webkit-transform: translate3d(0, 0, 0);
  -webkit-backface-visibility: hidden;
  -webkit-perspective: 1000px;

  display: flex;
  flex-direction: row;
  justify-content: center;
  min-height: fit-content;
  width: 350px;
  max-width: 100%;
  overflow: hidden;
  padding: 15px;
  border-radius: 15px;
  font-size: 1.0rem;
  font-weight: 400;
  margin-bottom: 20px;
  background-color: rgb(17, 16, 16);

  border: 2px solid #292929;
  will-change: transform;
}

.board-tile:hover {
  cursor: pointer;
  transition: 0.3s ease-in;
}

.board-title,
.board-description {
  display: block;
  flex-direction: row;
  height: fit-content;
  align-items: center;
  white-space: normal;
  word-wrap: normal;
  word-break: break-word;
  overflow-wrap: break-word;
  line-break: auto;
  max-width: 100%;
  text-overflow: elipsis;
}

.board-title-input,
.board-description-input {
  display: flex;
  flex-direction: row;
  height: fit-content;
  align-items: center;
  justify-content: flex-start;
  width: fit-content;
  height: fit-content;
  max-height: 80px;
  max-width: 800px;

  width: 800px;
  min-height: 40px;
  white-space: normal;
  word-wrap: normal;
  word-break: break-word;
  overflow-wrap: break-word;
  margin: 10px;
  font-family: 'Figtree', sans-serif;
  border: none;
  background: transparent;
}

.board-title-input {
  font-size: 1.5rem;
}

.board-description-input {
  font-size: 1.0rem;
}

.board-dropdown {
  height: fit-content;
  width: 50%;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 5px;
  color: #ff4e50;
  font-size: 1.2rem;
}

.board-dropdown .icon {
  margin-left: 10px;
  align-items: flex-start;
  justify-content: flex-start;
}

.board-description {
  display: flex;
  height: fit-content;
  font-size: 1.0rem;
  color: rgb(187, 187, 187);
  margin-bottom: 10px;
}

.add-task {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 35px;
  padding: 10px;
  margin: 10px;
  padding-left: 0px;
  color: #d85456;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
}

.add-task #button-text:hover {
  color: #d85456;
  transition: 0.3s ease-in-out;
}

#button-text {
  font-family: 'Quicksand', sans-serif;
  display: flex;
  color: whitesmoke;
  font-size: 1.0rem;
  font-weight: 600;
  width: 100%;
}

.add-column {
  display: flex;
  justify-content: center;
  align-items: center;
  width: fit-content;
  margin: 10px;
  height: 30px;
}

.add-column button {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  margin: 10px;
  background: none;
}

#delete-board {
  color: #ff4e50;
  background-color: transparent;
}

#delete-board:hover {
  cursor: pointer;
}

.add-column button:hover,
#icon,
.edit-button {
  color: #ff4e50;
  transition: 0.3s ease-in-out;
  background-color: transparent;
}

.Drag {
  cursor: grab;
}

.no-results {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: fit-content;
  text-align: center;
  padding: 20px;
  font-size: 1.5rem;
  color: rgb(187, 187, 187);
  overflow: hidden;

}

.task-input.completed {
  text-decoration: line-through;
  transition: all 0.2s ease-in-out;
}

.masonry-grid-column .no-results {
  width: 100%;
  margin: 0 auto;
  break-inside: avoid;
  overflow: hidden;
}

@media (min-width: 300px) and (max-width: 750px) {

  html,
  body {
    width: 100%;
    height: 100%;
  }

  .kanban-board {
    margin-top: 10vh;
  }

  .nav-buttons {
    width: 100%;
    display: flex;
    justify-content: space-around;
    padding: 0px;
  }

  .navigation-container {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height: fit-content;
  }

  .nav-hamburger {
    display: unset;
  }

  .hamburger:active {

    display: flex;
    flex-direction: column;
  }

  .nav-buttons {
    flex-direction: column;
    display: none;
  }

  .nav-menu-mobile {
    display: flex;
    position: absolute;
    left: 0;
    top: 100%;
    width: 100%;
    background: linear-gradient(120deg, #ff4e50, #ff6ec4);
    flex-direction: column;
    transition: 0.3s ease-in-out;
  }

  .nav-button {

    display: flex;
    width: 80%;
    margin: 0 auto;
    padding-left: 10px;

  }

  .taskbar {
    flex-direction: column;
    margin: 0 auto;
    align-items: flex-start;
    height: fit-content;
    width: 100%;
    margin: 0 auto;

  }

  .grid-board {
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .grid-controls {
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    margin: 0 auto;
    padding-left: 20px;
  }

  .add-board,
  .board-search,
  .board-filter {
    height: 35px;
    width: fit-content;
    font-size: 0.9rem;
    margin: 0 0 10px 0;
  }

  .taskbar button {
    margin: 0 auto;
    margin-top: 10px;
  }

  .intro,
  .app-desc {
    width: 80%;
    margin: 0 auto;
  }

  .grid {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    margin: 20px auto;
    height: fit-content;
    padding: 10px;
  }

  .board-tile {
    width: 90%;
    min-width: unset;
    height: fit-content;
    margin: 0 auto 20px auto;
    padding: 20px;
  }

  .main {
    width: 100%;
    height: 100%;
  }

  .column-scroll-container {
    overflow-y: auto;
    margin: 10px;
    width: 100%;
  }

  .column-container {
    margin: 0 auto;
    flex-direction: column;
    width: 100%;
  }

  .column {

    min-width: 350px;
    max-width: 350px;
    margin: 0 auto;
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: rgb(17, 16, 16);
    border: 2px solid #292929;
  }

  .column-title {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
  }

  .Task-container {
    width: 100%;
    display: flex;
  }

  .Task {
    width: 100%;
    max-height: 200px;
    min-height: fit-content;
    width: 320px;
    justify-content: space-around;
    margin: 0 auto;
    font-size: 0.9rem;
    padding-right: 0px;
    padding-left: 0px;
    overflow: hidden;
  }

  .task-text {
    flex: 1;
    max-height: 180px;
    min-height: 0px;
    overflow-y: auto;
    margin: 0px;
  }

  .task-input,
  .task-container {
    height: 30px;
    min-height: fit-content;
  }

  .controls {

    width: 80%;
    flex-direction: column;
    align-items: center;
    background-color: transparent;
    margin: 10px;
  }

  .board-text {
    border-radius: 8px;
  }

  .title {
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: fit-content;
  }

  .board-title-input,
  .board-description-input {
    width: 300px;
    max-width: 300px;
    min-width: 300px;
    height: fit-content;
  }

  .board-text,
  .board-id {
    width: fit-content;
    align-items: flex-start;
    justify-content: flex-start;
    margin: 0px;
    margin-left: 10px;
    min-height: 10px;
  }


  .icons {
    align-items: flex-start;
  }
}


@media (min-width: 750px) and (max-width: 1000px) {
  .grid {
    column-count: 2;
    width: 100%;
    margin-top: 20px;
    margin-left: 10px;
    margin: 0 auto;
  }

  .grid-controls {
    justify-content: flex-start;
    width: 100%;
    margin-bottom: 20px;
  }

}

@media (min-width: 1000px) and (max-width: 1600px) {
  .grid {
    column-count: 3;
    width: 100%;
    margin-top: 20px;
    margin-left: 10px;
    margin: 0 auto;
  }

  .grid-controls {
    justify-content: flex-start;
    width: 100%;
    margin: 0 auto;
  }

}