@import url('https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&family=Quicksand:wght@300..700&display=swap');

html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  scrollbar-width: thin;
}

.app-wrapper {

  overflow: hidden;
  padding-top: 0px;
  background-color: var(--background);
}

[data-theme="dark"] {
  --background: rgb(17, 16, 16);
  --secondary-bg: #1C1C1E;
  --border-color: #292929;
  --accent: #d85456;
  --text-color: whitesmoke;
  --muted-text: rgb(187, 187, 187);
  --navigation-color: rgb(15, 15, 15, 0.9);
  --secondary-icon: whitesmoke;
  --primary-icon: #ff4e50;

}

:root {
  --background: #f5f5f5;
  --text-color: #1a1a1a;
  --primary-gradient-start: #ff4e50;
  --primary-gradient-end: #ff6ec4;
  --secondary-bg: #ffffff;
  --border-color: #d0d0d0;
  --accent: #ff4e50;
  --muted-text: rgb(187, 187, 187);
  --navigation-color: whitesmoke;
  --secondary-icon: black;
  --primary-icon: #ff4e50;
}

#root {
  min-height: 100%;
  min-width: 100%;
  font-family: 'Figtree', sans-serif;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

#logo-text {
  background: linear-gradient(120deg, #ff4e50, #ff6ec4);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.nav-menu-mobile,
#logo-text-mobile {
  display: none;
}

.navigation-container {

  display: flex;
  z-index: 1;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
  height: 80px;
  position: fixed;
  font-family: 'Quicksand', sans-serif;
  font-weight: 500;
  color: var(--text-color);
  background: var(--navigation-color);
}

.navigation {

  display: flex;
  flex-direction: row;
  align-items: center;
  width: 90%;
  margin: 0 auto;
}

.nav-hamburger {
  display: none;
}

.nav-buttons {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  margin-left: auto;
}

.theme-button,
.star-button,
.back-button {
  display: flex;
  flex-direction: row;
  background-color: transparent;
  border: none;
  width: fit-content;
  justify-content: center;
  align-items: center;
  height: 40px;
  border-radius: 8px;
  margin: 10px;
  padding: 10px;

}

.theme-button span,
.star-button span {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 1.0rem;
  font-family: 'Figtree', sans-serif;
  font-weight: 400;
  border-radius: 8px;
}

.star-button {
  display: flex;
  background-color: transparent;
}

.back-button,
.theme-button,
.star-button {
  background-color: var(--secondary-bg);
  color: var(--text-color);
  border: 2px solid #292929;

}

.back-button {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: fit-content;
  height: 40px;
  padding: 10px;
  font-size: 1.0rem;
  border-radius: 8px;
}

.theme-button:hover,
.back-button:hover,
.star-button:hover {
  transition: 0.5s ease-in-out;
  cursor: pointer;
  border-color: var(--accent);

}

.theme-button:hover svg,
.back-button:hover svg,
.star-button:hover svg {
  transition: 0.3s ease-in;
  color: var(--accent);
}

.nav-logo {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  margin: 10px;
  border-radius: 8px;
  height: fit-content;
}

.nav-logo span svg {
  color: var(--accent);
}

.nav-logo span {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  width: fit-content;
  height: fit-content;
  padding: 5px 20px;
  text-align: center;
  font-size: 1.2em;
  font-weight: 600;
  font-family: 'figtree', sans-serif;
}

#gradient {
  background: linear-gradient(120deg, #ff4e50, #ff6ec4);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

#button-text {
  font-family: 'Figtree', sans-serif;
  font-size: 1.0rem;
  font-weight: 500;
  width: 100%;
}


.footer {

  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: fit-content;
  margin: 0 auto;
  font-size: 16px;
  background-color: var(--secondary-bg);
  border-top: 1px solid var(--border-color);
}

.footer-item {
  display: inline-flex;
  vertical-align: middle;
  justify-content: center;
  align-items: center;
  padding: 10px;
  color: var(--text-color);

}

.social svg {
  color: var(--primary-gradient-start);
}

.social {
  display: inline-flex;
  vertical-align: middle;
  margin: 10px;
  font-size: 1.4rem;
}

.social:hover {
  cursor: pointer;
  color: #ff4e50;
  transition: color 0.3s ease-in-out;
}

.main {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  margin-top: 100px;
}

.kanban-board {
  display: flex;
  height: fit-content;
  flex-direction: column;
  align-items: center;
  height: auto;
  max-width: 80%;
  max-width: 100vw;
  margin-top: 100px;
  overflow-x: hidden;
  overflow-y: visible;
}

.main,
.kanban-board {
  box-sizing: border-box;
  height: fit-content;

}

.board-title-input:focus,
.board-description-input:focus,
.theme-button:focus {
  outline: none;
}

.controls-container {
  width: 100%;
}

.controls {

  width: 100%;
  margin: 10px;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  min-height: fit-content;
  border-radius: 8px;
  background-color: var(--secondary-bg);
  border: 1px solid var(--border-color);
}

.column-scroll-container {
  white-space: nowrap;
  overflow-y: auto;
  scrollbar-width: thin;
  scrollbar-color: var();
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
  margin: 0 auto;
  border-radius: 8px;
  height: 100%;
  position: relative;
  min-height: 65vh;
}

.Note-container {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: row;
  min-width: 250px;
  max-width: 250px;
  height: fit-content;
  overflow: visible;
  margin-right: 10px;
  flex-shrink: 0;
  border-radius: 8px;
}

.Note:hover,
.column:hover,
.board-tile:hover {
  border: 1px solid var(--primary-gradient-start);
}

.column-container {

  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: row;
  min-width: 250px;
  max-width: 250px;
  height: fit-content;
  overflow: visible;
  margin-right: 10px;
  flex-shrink: 0;
}

.board-container-kanban-mode {
  display: flex;
  margin: 0 auto;
  flex-direction: column;
  width: 80%;
  min-width: 80%;
}

.board-container-masonry-mode {
  display: flex;
  flex-direction: column;
  width: fit-content;
}

.board-buttons {
  display: flex;
  width: 100%;
}

.grid-board {
  display: block;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  width: fit-content;
  min-height: 400px;
  height: fit-content;
  padding-bottom: 100px;
  border-radius: 20px;
  margin-bottom: 100px;
  padding: 30px;
}

.board-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: 100%;
}

.board-info {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  margin-top: 5px;
  height: fit-content;
}

.board-name {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  font-family: 'Quicksand', sans-serif;
  font-weight: 500;
  font-size: 1.2rem;
  color: var(--accent)
}

.board-title-input:hover,
.board-description-input:hover {
  cursor: pointer;
}

.board-top,
.board-bottom {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
}

.add-board,
.board-search {
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-color: var(--accent);
  width: fit-content;
  height: 40px;
  align-items: center;
  padding: 10px 20px;
}

.board-search-input,
.board-search,
.add-board {

  font-family: 'Figtree', sans-serif;
  font-weight: 500;
  font-size: 1.0rem;
  border: none;
  border-radius: 8px;
}

.board-search-input {
  border: none;
  display: flex;
  height: fit-content;
  width: 100%;
  padding: 10px;
  background-color: transparent;

}

.board-search,
.board-filter {
  margin-left: 20px;
}

.add-board:hover,
.board-search-input:hover,
.board-filter:hover,
.board-search-input:focus,
#button-text:focus,
.tooltip-icons:focus,
#delete-board:focus,
.column-name:focus,
.note-content-input:focus,
.note-name:focus {
  cursor: pointer;
  outline: none;
}

.board-search-input::placeholder {
  color: whitesmoke;
}

.note-content-input::placeholder {
  color: var(--muted-text);
}

.taskbar {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 80%;
  margin: 0 auto;
}

.intro {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 80%;
  height: 25vh;
  text-align: center;
}

.App-desc {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: fit-content;
  font-size: 1.0rem;
  color: var(--text-color)
}

.App-desc-title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 80%;
  margin: 0 auto;
  line-height: normal;

}

.App-title,
.App-desc {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
  font-family: 'Figtree', sans-serif;
  font-weight: 500;
}

.App-desc-action {
  display: flex;
  height: 50px;
  justify-content: center;
  align-items: center;
  font-size: 1.3rem;
  font-weight: 600;
}

.App-title {
  font-size: 2.5rem;
  font-family: 'Quicksand', sans-serif;
  font-weight: 700;
  margin: 10px;
}

.Note {

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 100%;
  height: fit-content;
  border-radius: 8px;
  background-color: var(--secondary-bg);
  border: 1px solid var(--border-color);

}

.note-content {
  display: flex;
  padding: 10px;
  width: 100%;
  white-space: nowrap;
  overflow-y: auto;
  overflow-x: hidden;
  height: fit-content;
}

.note-content-input {
  display: flex;
  width: 100%;
  height: fit-content;
  font-size: 1.0rem;
  border: none;
  background-color: transparent;
  overflow: hidden;
  white-space: normal;
  overflow-wrap: break-word;
  word-break: break-word;
  resize: none;
  line-height: normal;
  margin-left: 5px;
  font-family: 'Figtree', sans-serif;
  font-weight: 350;
  color: var(--text-color);
}

.column {

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  min-width: 250px;
  max-width: 250px;
  min-height: 110px;
  height: fit-content;
  border-radius: 8px;
  background-color: var(--secondary-bg);
  margin-right: 10px;
  flex-shrink: 0;
  border: 1px solid var(--border-color);

}

.column-name,
.note-name {
  display: inline-flex;
  justify-content: space-between;
  width: 100%;
  margin-left: 5px;
  margin-right: 20px;
  font-size: 16px;
  font-weight: 500;
  align-items: center;
  background: none;
  border: none;
  color: var(--text-color);
  font-family: 'Quicksand', sans-serif;
  font-weight: 500;
}

.column-name:hover {
  cursor: pointer;
}

.column-title,
.note-title {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
}

.icons {
  display: inline-flex;
  height: 100%;
  width: fit-content;
  font-size: 20px;
  padding-top: 5px;
  padding-left: 10px;
  align-items: flex-end;
  justify-content: center;
  cursor: pointer;
}

.tooltip {
  display: flex;
  width: fit-content;
  justify-content: flex-start;
  align-items: flex-start;
  border-radius: 8px;
}

.tooltip-icons {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  font-size: 1.2rem;
  background-color: transparent;
  margin: 5px;
}

.tooltip-icons:hover {
  cursor: pointer;
  color: #ff4e50;


}

.tooltip-text {
  display: flex;
  font-size: 1.0rem;
  padding-left: 5px;
  font-family: 'Figtree', sans-serif;
}

.icon-container {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 8px;
  border-radius: 8px;
  cursor: pointer;
}

.icon-container:hover,
#icon:hover {
  color: #fff;
}

#drag-icon {
  cursor: grab;
  color: var(--secondary-icon);

}

#copy-icon,
#icon-more {
  color: var(--seconday-icon);

}

#delete-icon,
#icon-check {
  color: var(--primary-icon);
}

#drag-icon:active {
  cursor: grabbing;
  color: var(--primary-icon);
}

.Task {

  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: flex-start;
  width: 100%;
  height: fit-content;
  padding-right: 15px;
  padding-left: 5px;
  border-radius: 8px;
}

.task-text {
  display: flex;
  justify-content: center;
  max-height: 250px;
  white-space: nowrap;
  overflow-y: auto;
  overflow-x: hidden;
  align-items: flex-start;
  width: fit-content;
}

.task-input {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  border: none;
  color: var(--text-color);
  font-size: 1.0rem;
  font-weight: 350;
  line-height: normal;
  font-family: 'Figtree', sans-serif;
  resize: none;
  overflow: hidden;
  white-space: normal;
  overflow-wrap: break-word;
  word-break: break-word;
}

.task-input:focus {
  outline: none;
}

.title {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  font-size: 1.2rem;
  width: 100%;
  color: var(--accent);
}

.board-id {
  display: flex;
  font-size: 1.0rem;
  align-items: flex-end;
  justify-content: center;
  margin-left: 13px;
  color: var(--muted-text);
  width: fit-content;
}

.grid {

  column-count: 4;
  column-gap: 15px;
  width: 80%;
  height: fit-content;
  margin: 0 auto;
  padding: 30px;
  border-radius: 8px;
  border: 2px dashed #292929;

}

.grid-controls {
  display: flex;
  width: 80%;
  margin: 0 auto;
  height: fit-content;
  justify-content: flex-start;
  align-items: center;
  padding-bottom: 20px;
}

.board-tile {
  display: flex;
  flex-direction: row;
  justify-content: center;
  min-height: fit-content;
  width: 400px;
  min-height: 130px;
  height: fit-content;
  max-width: 100%;
  overflow: hidden;
  padding: 15px;
  border-radius: 8px;
  font-size: 1.0rem;
  font-weight: 400;
  margin-bottom: 20px;
  background-color: var(--secondary-bg);
  border: 1px solid var(--border-color);
  font-family: 'Figtree', sans-serif;
}

.board-tile:hover {
  cursor: pointer;
  transition: 0.3s ease-in;
}

.board-title,
.board-description {
  display: block;
  flex-direction: row;
  height: fit-content;
  white-space: normal;
  word-wrap: normal;
  word-break: break-word;
  overflow-wrap: break-word;
  line-break: auto;
  max-width: 100%;
  align-items: flex-start;
  justify-content: flex-start;
  margin-top: 5px;
  text-overflow: elipsis;
}

.board-title-input,
.board-description-input {
  display: flex;
  flex-direction: row;
  height: 5px;
  align-items: center;
  justify-content: flex-start;
  width: fit-content;
  max-height: 80px;
  max-width: 800px;
  width: 800px;
  min-height: 40px;
  white-space: normal;
  word-wrap: normal;
  word-break: break-word;
  overflow-wrap: break-word;
  margin: 10px;
  font-family: 'Figtree', sans-serif;
  border: none;
  background: transparent;
  color: var(--accent);
}

.board-title-input {
  font-size: 1.5rem;
}

.board-description-input {
  font-size: 1.0rem;
  color: var(--text-color);
}

.board-dropdown {
  height: fit-content;
  width: 50%;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 5px;
  color: #ff4e50;
  font-size: 1.2rem;
}

.board-dropdown .icon {
  margin-left: 10px;
  align-items: flex-start;
  justify-content: flex-start;
}

.board-description {
  display: flex;
  height: fit-content;
  font-size: 1.0rem;
  color: var(--text-color);
  margin-bottom: 10px;
}

.add-task {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 35px;
  padding: 10px;
  margin: 10px;
  padding-left: 0px;
  color: var(--accent);
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
}

.add-task #button-text:hover {
  color: var(--accent);
  transition: 0.3s ease-in-out;
}


.button-icon {
  display: flex;
  justify-content: center;
  align-items: center;
}

#button-text:hover {
  color: var(--accent);
  transition: 0.3s ease-in-out;
}

#button-text {
  font-family: 'Quicksand', sans-serif;
  display: flex;
  color: var(--text-color);
  font-size: 1.0rem;
  font-weight: 500;
  width: 100%;
}


.add-column-container,
.switch-boards-container {
  display: flex;
  flex-direction: row;
  height: fit-content;

  margin-top: 10px;
}

.switchBoard-icon {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: fit-content;
  margin: 10px;
  border-radius: 8px;
  border: none;
  color: var(--accent);
  font-size: 1.0rem;
  font-weight: 600;
}

.add-column,
.switch-boards {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: fit-content;
  height: 40px;
  margin: 10px;
  margin-left: -0px;
  margin-right: 20px;
  border-radius: 8px;
  border: none;
  background: var(--accent);
}

.add-column button:hover,
.switch-boards button:hover {
  color: #ffffff !important;
}

.add-column button,
.switch-boards button {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10px;
  background: none;
  color: #ffffff !important;

}

#delete-board {
  color: #ff4e50;
  background-color: transparent;
}

#delete-board:hover {
  cursor: pointer;
}

.add-column button:hover,
#icon,
.edit-button {
  color: #ff4e50;
  transition: 0.3s ease-in-out;
  background-color: transparent;
}

.Drag {
  cursor: grab;
}

.no-results {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: fit-content;
  text-align: center;
  padding: 20px;
  font-size: 1.2rem;
  color: var(--text-color);
  overflow: hidden;
}

.task-input.completed {
  text-decoration: line-through;
  transition: all 0.2s ease-in-out;
}

.masonry-grid-column .no-results {
  width: 100%;
  margin: 0 auto;
  break-inside: avoid;
  overflow: hidden;
}


@media (min-width: 300px) and (max-width: 750px) {

  .add-column-container {
    min-width: fit-content;
    margin-top: 0px;
  }

  .add-column {
    height: 40px;
  }

  .switch-boards,
  .switchBoard-icon {
    display: none;
  }

  html,
  body {
    width: 100%;
    height: 100%;
  }

  .board-container {
    width: 80%;
  }

  .kanban-board {
    margin-top: 10vh;
  }

  .nav-buttons {
    width: 100%;
    display: flex;
    justify-content: space-around;
    padding: 0px;
  }

  #logo-text {
    display: none;
  }

  #logo-text-mobile {
    display: unset;
  }



  .back-button {
    margin: 0px;
  }

  .taskbar {
    flex-direction: column;
    margin: 0 auto;
    align-items: flex-start;
    height: fit-content;
    width: 100%;
  }

  .grid-board {
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 0px;
    border-radius: 20px;
  }

  .grid-controls {
    flex-direction: column;
    align-items: flex-start;
    width: 80%;
    margin: 0 auto;
  }

  .add-board,
  .board-search,
  .board-filter {
    height: 40px;
    width: fit-content;
    font-size: 1.0rem;
    padding-left: 10px;
    padding-right: 10px;
    margin: 0 0 10px 0;
  }

  .taskbar button {
    margin: 0 auto;
    margin-top: 10px;
  }

  .App-desc-title {
    font-size: 2.0rem;
    line-height: 1.2;
    min-height: 300px;
  }

  .App-desc {

    width: 90%;
    margin: 0 auto;
    margin-bottom: 10px;
  }

  .App-desc li {
    padding: 5px;
  }

  .App-desc-action {
    width: 80%;
    height: fit-content;
    margin: 0 auto;
    text-align: center;
    padding: 10px;
    margin-bottom: 10px;
  }

  .intro,
  .app-desc {
    width: 80%;
    margin: 0 auto;
    height: 30vh;
  }

  .grid {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    margin: 20px auto;
    height: fit-content;
    padding: 10px;
  }

  .board-tile {
    width: 90%;
    min-width: unset;
    height: fit-content;
    margin: 10px;
    padding: 20px;
  }

  .main {
    width: 100%;
    height: fit-content;
  }

  .column-scroll-container {
    overflow-y: auto;
    margin: 10px;
    width: 100%;

  }

  .column-container,
  .Note-container {
    flex-direction: column;
    min-width: 100%;
    margin-bottom: -10px;

  }

  .Note {
    min-width: fit-content;
    max-width: fit-content;
  }

  .column {
    min-width: fit-content;
    max-width: fit-content;
    margin: 10px;
    margin-top: 20px;
  }

  .column-title {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
  }

  .Task-container {
    width: 100%;
    display: flex;
  }

  .Task {
    width: 100%;
    max-height: 200px;
    min-height: fit-content;
    width: 80%;
    justify-content: space-around;
    margin: 0 auto;
    font-size: 0.9rem;
    padding-right: 0px;
    padding-left: 0px;
    overflow: hidden;
  }

  .task-text {
    flex: 1;
    max-height: 180px;
    min-height: 0px;
    overflow-y: auto;
    margin: 0px;
  }

  .task-input,
  .task-container {
    height: 30px;
    min-height: fit-content;
  }

  .controls {

    width: 100%;
    flex-direction: column;
    align-items: flex-start;
    margin: 0px;
    padding: 0px;
    background-color: transparent;
    border: none;
  }

  .board-buttons {
    display: flex;
    width: 100%;
    justify-content: flex-start;
    flex-direction: column;
    margin-left: 15px;
  }

  .board-text {
    border-radius: 8px;
  }

  .title {
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: fit-content;
  }

  .board-title-input,
  .board-description-input {
    width: 300px;
    max-width: 300px;
    min-width: 300px;
    height: fit-content;
  }

  .board-text,
  .board-id {
    width: fit-content;
    align-items: flex-start;
    justify-content: flex-start;
    margin: 0px;
    margin-left: 10px;
    min-height: 10px;
  }


  .icons {
    align-items: flex-start;
  }


  .footer {

    display: flex;
    color: var(--text-color);
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: fit-content;
    margin: 0 auto;
    font-size: 16px;

  }

  .footer-item {
    display: inline-flex;
    vertical-align: middle;
    justify-content: center;
    align-items: center;
    font-size: 1.0rem;
  }

  .footer-flavourText {
    display: none;
  }

  .footer svg {
    color: var(--primary-gradient-start);
  }

  .Note {
    margin: 0 auto;
    margin-top: 10px;
    margin-bottom: 10px;
  }

}

@media(min-width: 1000px) and (max-width: 1100px) {

  .controls-container{
    margin: 0 auto;
    width: 95%;
  }

  .board-buttons{
    width: fit-content;
  }

}

@media (min-width: 750px) and (max-width: 1100px) {

  .Note-container,
  .column{
    min-width: 300px;
  }

  .controls-container {
    width: 80%;
    margin: 0 auto;
  }

  .board-buttons {
    flex-direction: row;
    margin-bottom: 10px;
    margin-left: 0px;
  }

  .add-column{
    margin: 5px;
  }
  .switch-boards, .switchBoard-icon{
    display: none;
  }

  .grid {
    column-count: 1;
    width: 80%;
    margin-left: 10px;
    margin: 0 auto;
  }

  .grid-controls {
    justify-content: flex-start;
    width: 100%;
    margin-bottom: 20px;
  }

    .column-scroll-container {
    overflow-y: auto;
    margin: 0 auto;
    width: 100%;

  }
}

@media (min-width: 750px) and (max-width: 1600px) {
  .grid {
    column-count: 2;
    width: 100%;
    margin-top: 20px;
    margin-left: 10px;
    margin: 0 auto;
  }

  .grid-controls {
    justify-content: flex-start;
    width: 100%;
  }

}

@media (min-width: 1100px) and (max-width: 1200px) {

  .nav-menu-mobile {
    display: flex;
    flex-direction: row;
    position: absolute;
    left: 0;
    top: 100%;
    margin: 0 auto;
    background-color: var(--navigation-color);
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    transition: 0.3s ease-in-out;
  }

}

@media (min-width: 750px) and (max-width: 1100px) {

  .navigation-container {

    width: 100%;
  }

  .navigation {
    margin: 10px;
  }

  .grid-controls {
    margin: 0 auto;
    width: 80%;
  }

}

@media (min-width: 300px) and (max-width: 1100px) {

  .nav-menu-mobile {
    display: flex;
    flex-direction: row;
    position: absolute;
    left: 0;
    top: 100%;
    width: 100%;
    background-color: var(--navigation-color);
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    transition: 0.3s ease-in-out;
  }

  .nav-logo {
    margin: 0px;
    justify-content: flex-start;
  }

  .nav-hamburger-container {
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }

  .nav-hamburger {
    display: unset;
    position: absolute;
    top: 15px;
    right: 20px;
    z-index: 10;
    color: var(--text-color);
    align-items: center;
    justify-content: center;
  }

  .hamburger:active {

    display: flex;
    flex-direction: column;
    justify-content: flex-end;

  }

  .nav-buttons {
    flex-direction: column;
    display: none;
  }

  .nav-button {

    display: flex;
    margin: 0 auto;
    width: 100%;
    justify-content: space-evenly;
    align-items: center;
    padding: 5px;
  }

}